{% extends 'Home/base.html' %}

{% block CONTENIDO %}
    <h1 class="text-center">INGRESA NUEVOS PRODUCTOS</h1>
    <!-- Etiqueta Formulario -->
    <div class="bg-white text-bg-light   formulario text-center ">
        <style>
            .formulario{
                padding: 50px;
                width: 95%;
                margin: 25px;
            }
        </style>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}} 
            <button class="btn btn-dark " type="submit">Guardar</button>
    </div>
{% endblock CONTENIDO %}
            